.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store/
packages/chain/.env
.env.*
.evms.json
.idea/
.lock/
.networks.json
.nyc_output/
.test-*
.vscode/
.run
local-*
*.log*
.ignore
*.ignore*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
artifacts/
build/
cache/
data/
deploy/
dist/
lib/
logs/
misc/
node_modules/
.ipfs/
